.wd-modules,
.wd-modules * {
    border-radius: 0%;
    border: none;
    margin: 0px;
    padding: 0px;
}
.wd-modules {
    margin: 5px;
}
.wd-modules > li {
    background-color: lightgray;
    border: 1px solid rgb(128, 128, 128) !important;
    border-left: none !important;
}
.wd-modules > li > div {
    padding: 6px;
    border-left: 1px solid rgb(128, 128, 128) !important;
}
.wd-modules > li > ul > li {

    padding: 5px;
    border-top: 1px solid rgb(128, 128, 128) !important;
    border-left: 2px solid green;
    padding-left: 15px;
}
.wd-modules > li {
    margin-bottom: 20px;
}


.breadcrumb-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;

    margin-top: 20px;
    margin-left: 100px;
    position: absolute;
    top: 0;
    left:0;

    z-index: 1030;

    margin-right: auto;
    width: calc(100% - 140px);
    box-sizing: border-box;


}

.nav-link{
    color:red;
}



.form-table {
    width: 100%;
    border-collapse: collapse;
}

.form-table td {
    padding: 8px;

}

.form-table label {
    display: block;
}

.form-table  td:first-child,
.form-table  th:first-child {
    text-align: right;
}

.form-table td:first-child {
    width: 20%;
}

.form-table td:nth-child(2) {
    width: 80%;
}

.form-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.form-row {
    margin-bottom: 15px;
}

.form-row.double {
    display: flex;
    justify-content: space-between;
}

.form-row.double > div {
    width: 48%;
}

.form-row label {
    display: block;
    margin-bottom: 5px;
}
